.DS_Store
bin/
/.idea
.idea
# .env
.vscode

# swagger documentation
src/docs/*

# local database 
docker/database/*

# local mqtt
docker/mqtt/*

# local docker override
docker/docker-compose.override.yaml